<div class="container-fluid">
    <div class="row">
        <div class="col-12" id="socialMedia">
            <!-- <h3>Follow Us on Social Media</h3>
            <img src="/assets/img/logos2.png"> -->
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="container" id="liabilityWarning">
                <ul>
                    <p> Banking and Banking Products are:</p>
                    <li>
                        Not Insured by the FDIC or Any Federal Government Agency
                    </li>
                    <li>
                        Not a Deposit or Other Obligation of, or Guaranteed by, the Bank or Any Bank Affiliate
                    </li>
                    <li>
                        Subject to Investment Risks, Including Possible Loss of the Principal Amount Invested
                </ul>     
            </div>
        </div>
    </div>
</div>