<div class="container-fluid">
  <div class="row">
      <div class="col-6" id="applyForAccount">
        <h2>Apply for an Account</h2>
        <hr>
        <br>
        <div class="form-group">
          <div class="form-control">
            <label for="accountType">Account Type</label>
            <select class="form-select">
                <option value="Checking">Checking</option>
                <option value="Saving">Savings</option>
            </select>
            <br>
            <label for="income">Salary:</label>
            <input type="number" id="salaryInput" placeholder="Salary">
            <br>
            <label for="jobTitle">Job Title:</label>
            <input type="text" id="jobTitleInput" placeholder="Job Title">
            <br>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstNameInput" placeholder="First Name">
            <br>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastNameInput" placeholder="Last Name">
            <br>
            <label for="ssn">SSN:</label>
            <input type="number" id="ssnInput" placeholder="Social Security Number">
            <br>
            <label for="email">Email:</label>
            <input type="email" id="emailInput" placeholder="Email">
            <br>
            <br>
            <input id="submitButton" type="submit" value="Submit">
          </div>
        </div>
  
      </div>
      <div class="col-6" id="accountActionsColumn">
        <h1>Did you know?</h1>
        <p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will 
        give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, 
        the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, 
        but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
        Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because 
        occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial 
        example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who 
        has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who 
        avoids a pain that produces no resultant pleasure?"</p>
    </div>
  </div>
</div>



<!-- <div class ="container-fliuid">
  <div class="row" id="entireContainer">
    <div class="col-8" id="applyForAccountParentContainer">
      <div class="applyForAccountContainer">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>Apply for an Account</h2>
              <hr>
              <br>
              <div class="form-group">
                <div class="form-control">
                  <label for="accountType">Account Type</label>
                  <select class="form-select">
                      <option value="Checking">Checking</option>
                      <option value="Saving">Savings</option>
                  </select>
                  <br>
                  <label for="income">Salary:</label>
                  <input type="number" id="salaryInput" placeholder="Salary">
                  <br>
                  <label for="jobTitle">Job Title:</label>
                  <input type="text" id="jobTitleInput" placeholder="Job Title">
                  <br>
                  <label for="firstName">First Name:</label>
                  <input type="text" id="firstNameInput" placeholder="First Name">
                  <br>
                  <label for="lastName">Last Name:</label>
                  <input type="text" id="lastNameInput" placeholder="Last Name">
                  <br>
                  <label for="ssn">SSN:</label>
                  <input type="number" id="ssnInput" placeholder="Social Security Number">
                  <br>
                  <label for="email">Email:</label>
                  <input type="email" id="emailInput" placeholder="Email">
                  <br>
                  <br>
                  <input id="submitButton" type="submit" value="Submit">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4" id="moreInfo">
      <h1>Did you know?</h1>
      <p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will 
        give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, 
        the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, 
        but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. 
        Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because 
        occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial 
        example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who 
        has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who 
        avoids a pain that produces no resultant pleasure?"</p>
    </div>
  </div>
</div> -->




<!--<div class ="container-fliuid">
  <div class="row" id="entireContainer">
    <div class="col-4"></div>
    <div class="col-4" id="applyForAccountParentContainer">
      <div class="applyForAccountContainer">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>Apply for an Account</h2>
              <hr>
              <br>
              <div class="form-group">
                <div class="form-control">
                  <label for="accountType">Account Type</label>
                  <select class="form-select">
                      <option value="Checking">Checking</option>
                      <option value="Saving">Savings</option>
                  </select>
                  <br>
                  <label for="income">Salary:</label>
                  <input type="number" id="salaryInput" placeholder="Salary">
                  <br>
                  <label for="jobTitle">Job Title:</label>
                  <input type="text" id="jobTitleInput" placeholder="Job Title">
                  <br>
                  <label for="firstName">First Name:</label>
                  <input type="text" id="firstNameInput" placeholder="First Name">
                  <br>
                  <label for="lastName">Last Name:</label>
                  <input type="text" id="lastNameInput" placeholder="Last Name">
                  <br>
                  <label for="ssn">SSN:</label>
                  <input type="number" id="ssnInput" placeholder="Social Security Number">
                  <br>
                  <label for="email">Email:</label>
                  <input type="email" id="emailInput" placeholder="Email">
                  <br>
                  <br>
                  <input id="submitButton" type="submit" value="Submit">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
