<div class="row" id="entireContainer">
    <div class="col-4"></div>
    <div class="col-4" id="applyForAccountParentContainer">
      <div class="applyForAccountContainer">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>Apply for an Account</h2>
              <hr>
              <br>
              <div class="form-group">
                <div class="form-control">
                  <label for="accountType">Account Type</label>
                  <select class="form-select">
                      <option value="Checking">Checking</option>
                      <option value="Saving">Savings</option>
                  </select>
                  <br>
                  <label for="income">Salary:</label>
                  <input type="number" id="salaryInput" placeholder="Salary">
                  <br>
                  <label for="jobTitle">Job Title:</label>
                  <input type="text" id="jobTitleInput" placeholder="Job Title">
                  <br>
                  <label for="firstName">First Name:</label>
                  <input type="text" id="firstNameInput" placeholder="First Name">
                  <br>
                  <label for="lastName">Last Name:</label>
                  <input type="text" id="lastNameInput" placeholder="Last Name">
                  <br>
                  <label for="ssn">SSN:</label>
                  <input type="number" id="ssnInput" placeholder="Social Security Number">
                  <br>
                  <label for="email">Email:</label>
                  <input type="email" id="emailInput" placeholder="Email">
                  <br>
                  <input id="submitButton" type="submit" value="Apply For Account">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>