.container{
    text-align: center;
    width: initial;
    height:15px;
    padding-bottom: 2em;
    
}
a {
    color:black;
    margin: 2em;
    font-size: 1em;
    padding-left:2em;
    padding-right:2em;
    padding-bottom:.3em;
    padding-top:.1em;
    text-decoration: none;
    position: relative;
    top: -10px;
}
a:hover {
   color:  rgb(222, 158, 235);
}
