.container{
    text-align: center;
    border-bottom-style:solid;
    border-width:2px;
    border-color: rgb(215, 211, 226);
    width: initial;
    padding-bottom: 2em;
}
a {
   
    margin: 2em;
    font-size: 1em;
    background-color: rgba(243, 240, 255, 1);
    box-shadow: 10px 10px rgb(215, 211, 226);
    padding-left:2em;
    padding-right:2em;
    border-radius: 15px;
    padding-bottom:.3em;
    padding-top:.1em;
    text-decoration: none;
}
a:hover {
    background-color:  rgb(222, 158, 235);
}
