.container{
    text-align: center;
    border-bottom-style:solid;
    border-width:2px;
    border-color: rgb(215, 211, 226);
    width: initial;
    padding-bottom: 2em;
}
a {
    padding-left: 2em;
}
