
#submitButton {

    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(222, 158, 235);
    box-shadow: 10px 10px rgb(215, 211, 226);
    color:#007BFF ;
}
#submitButton:hover {
    background-color: rgb(226, 211, 217);
}
.form-control {
    border:none;
    background-color: rgba(243, 240, 255, 0);
}
.loginContainer {
    padding-top: 10px;
    height: 30em;
    position: relative;
    top:10em;
    text-align: center;

    border-radius: 15px ;
    /* background-color: rgba(243, 240, 255, 1); */
    background-color: rgba(255, 255, 255, .95);
    /* box-shadow: 10px 10px rgb(215, 211, 226); */

}
#entireContainer{
    height: 50em;
    padding-top:2em;
    background-image: url("/assets/img/nyc.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:100em;
    border-bottom: solid;
    border-width: 20px;
    /* border-color:rgb(239, 239, 239); */
    border-color:white;
}
input {
    border-radius: 15px;
}
input, label, #submitButton {
    border:none;
    font-size: 1.5em;
}
