.container, p:not(#submitButton) {
    font-size: 1.2em;
    margin-left: 0px;

}
#superContainer {
    height: 25em;
    margin-left:25px;
}
#submitButton {
    border-radius:15px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(222, 158, 235);
    box-shadow: 10px 10px rgb(215, 211, 226);
    color:#007BFF;
    border:none;
}
#submitButton:hover {
    background-color: rgb(226, 211, 217);
}
